<section class="container">
  <header>
    <img
      src="../../../assets/img/anto/anto1.jpeg"
      alt="antonella"
      class="anto"
    />
    <img
      src="../../../assets/img/ariel/marcoAriel.png"
      alt="marco ariel"
      class="marco"
    />
  </header>

  <main>
    <h2 #titulo>
      <span>Antonella</span><br />
      Nuestra hermosa <strong>Sirenita</strong>
    </h2>
    <img src="../../../assets/img/ariel/ariel1.png" alt="" class="ariel" />

    <div class="datosInfo">
      <img
        src="../../../assets/img/caballitos/gratis-png-caballo-de-mar2.png"
        alt="caballito2"
        class="caballito2"
      />
      <address>
        <p>Acompañanos a Celebrar:</p>
        <strong>Alfonso López 2</strong>
        <span>Cra. 7e bis # 73 - 68</span>
        <time datetime="5 abril 3:30pm">5 abril a las 3:30pm</time>
      </address>
    </div>
  </main>

  <footer>
    <img
      *ngFor="let i of [1, 2, 3, 4, 5].reverse()"
      [src]="'../../../assets/img/fondo/algas' + i + '.png'"
      alt="algas"
    />
  </footer>
</section>
